// imports
@import "reset";
@import "underline";

// import font
@font-face {
  font-family: "FoundersGroteskMono";
  src: url("../fonts/FoundersGroteskMonoWeb-Regular.eot?") format("eot"),
    url("../fonts/FoundersGroteskMonoWeb-Regular.woff2") format("woff2"),
    url("../fonts/FoundersGroteskMonoWeb-Regular.woff") format("woff");
}

// selection color
::-moz-selection {
  background: blue;
}
::selection {
  background: blue;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: black;
  color: white;
  min-height: 100%;
  font-family: FoundersGroteskMono, monospace;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10vw;
  text-align: center;
}
p {
  margin-bottom: 1em;
  &.pencil {
    font-size: 24px;
    color: #F7CD55;
    margin-bottom: 2em;
  }
}


$color-background: #000;
$color-selection: blue;

a {
  color: #E2457D;
  &:hover {
    @include link-underline($color-background, #E2457D, $color-selection);
  }

  &.monadic {
    color: #0466E3;
    &:hover {
      @include link-underline($color-background, #0466E3, $color-selection);
    }
  }
}