// imports
@import "reset";
@import "underline";

// Colors

$blue: #0466E3;
$pink: #E2457D;
$yellow: #F7CD55;
$white: #ffffff;
$black: #000000;


// import font
@font-face {
  font-family: "PressuraMono";
  src: url("../fonts/GT-Pressura-Mono-Regular.woff") format("woff"),
    url("../fonts/GT-Pressura-Mono-Regular.eot?") format("eot"),
    url("../fonts/GT-Pressura-Mono-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "PressuraMonoBold";
  src: url("../fonts/GT-Pressura-Mono-Bold.woff") format("woff"),
    url("../fonts/GT-Pressura-Mono-Bold.eot?") format("eot"),
    url("../fonts/GT-Pressura-Mono-Bold.ttf") format("ttf");
}

// selection color
::-moz-selection {
  background: $blue;
}

::selection {
  background: $blue;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: black;
  color: white;
  min-height: 100%;
  font-family: PressuraMono, monospace;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10vw;
  text-align: center;
}

p {
  margin-bottom: 1em;

  &.pencil {
    font-size: 24px;
    color: $yellow;
    margin-bottom: 2em;
  }
}

a {
  font-family: PressuraMonoBold, monospace;
  color: $pink;

  &:hover {
    @include link-underline($black, $pink, $blue);
  }

  &.monadic {
    color: $blue;

    &:hover {
      @include link-underline($black, $blue, $pink);
    }
  }
}